.container {
  background-color: #363538;
  border-radius: 15px;
  margin-left: 8em;
  margin-right: 8em;
  margin-top: 50px;
  margin-bottom: 8em;
}
#col {
  gap: 0.75em;
}
#photoProfil {
  margin-top: 25px;
  margin-left: 25px;
}
#pseudo {
  color: black;
  background-color: #81e6da;
  padding: 5px;
  border-radius: 15px;
  margin-top: 25px;
  height: 2em;
  text-align: center;
  align-self: center;
}

#bio {
  color: white;
  text-align: center;
}
#paragraphe {
  border: solid;
  border-color: #81e6da;
  border-radius: 15px;
  margin-left: 6%;
  margin-right: 6%;
}
h5 {
  border-radius: 15px;
  padding-left: 25px;
}
.results {
  margin: 48px 10%;
  display: inline-block;
  justify-content: center;
}

.total-result {
  background-color: aqua;
  border-radius: 10px;
  padding: 10px;
  max-width: 130px;
  text-align: center;
  margin-bottom: 15px;
}

.textBox {
  display: block;
  width: 100%;
  padding: 20px 20px;
  margin-left: 15px;
}

.first-box {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.image {
  width: 128px;
  height: auto;
}

.imgBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.result {
  /* display: flex;
  padding: 20px 30px;
  background-color: #363538;
  border-radius: 12px;
  margin-bottom: 30px;
  min-height: 232px; */
  /* overflow: hidden; */
}

.test {
  display: flex;
  padding: 20px 30px;

  background-color: #363538;
  border-radius: 12px;
  margin-bottom: 30px;
  min-height: 232px;
}

/* .result .title {
  font-weight: bold;
  color: white;
  font-size: 28px;
  margin: 0;
} */

/* .result h2 {
  font-weight: 500;
  color: white;
  font-size: 20px;
} */

/* .result p {
  font-weight: 500;
  color: white;
  font-size: 18px;
} */
.containerBox {
  display: grid;
  justify-content: center;
  margin: 7% auto;
  grid-template-columns: repeat(auto-fill, minmax(363px, 1fr));
  grid-gap: 0.5em;
}
.title {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 25px;
}
.title,
.subtitle,
.content {
  color: white;
}
.subtitle {
  margin-top: -0.25rem !important;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: right;
  background-color: #363538;
  max-width: 363px !important;
  height: 730px !important;
  border-radius: 12px !important;
}
img {
  width: 363px;
  height: 500px;
  border-radius: 12px 12px 0 0 !important;
  object-fit: cover;
}
.title-button {
  color: black;
}
.detail {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 6px 15px;
}
.iconArrow {
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 40px;
}
.image,
.card-image {
  position: relative;
}
.heart-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  margin-top: 15px;
  padding: 15px 15px;
  background-color: rgba(207, 217, 223, 0.5);
  border-radius: 12px;
}

/* .favorite-icon:hover {
  transform: scale(1.1);
} */
.favorite-icon {
  color: red;
}
.favorite-iconClicked {
  color: red;
}

.note {
  position: absolute;
  top: 0;
  left: 0;
}
