<div class="container">
    <section>
        <div class="row">
            <div class="columns is-multiline is-mobile is-vcentered" id="col">
                <div id="photoProfil" class="flex-col-md-1">
                    <img src="{{photoProfil}}">
                </div>
                <div id="pseudo" class="column is-1 has">
                    <span>{{pseudo}}</span>
                </div>
            </div>              
        </div>
        <div class="row col-lg-6 p-4 col-md-7 text-center" id="bio">
            <h3 class="is-size-3">Description</h3>
            <p class="mb-0 mt-3" id="paragraphe">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </section>
    <div class="row mt-3">
        <div class="px-4 py-3">
            <h5 class="mb-0" style="background-color: white;">Favoris</h5>
            <div class="p-4 rounded shadow-sm">
                <app-card></app-card>
            </div>
        </div>
        <div class="px-4 py-3">
            <h5 class="mb-0" style="background-color: white;">Notes récentes</h5>
            <div class="p-4 rounded shadow-sm">
                <app-card></app-card>
            </div>
        </div>
        <div class="px-4 py-3">
            <h5 class="mb-0" style="background-color: white;">Top 50 ever</h5>
            <div class="p-4 rounded shadow-sm">
                <app-card></app-card>
            </div>
        </div>
    </div>
</div>