


<div style="margin-left: 150px; margin-right: 150px">
  <h3 class="title is-3" style="color: white">Note</h3>
  <div
    class="card columns"
    style="background-color: #363538; text-align: center"
  >
    <div class="column is-6" style="border-right: 2px solid #81e6da">
      <div>
        <h4 style="color: white; margin-bottom: 10px">Comment tu te sens ?</h4>
        <div class="control">
          <label class="radio">
            <input type="radio" name="answer" class="button is-ghost" />
            <img [src]="EmojiContent" />
          </label>
          <label class="radio">
            <input type="radio" name="answer" class="button is-ghost" />
            <img [src]="EmojiEnnuye" />
          </label>
          <label class="radio">
            <input type="radio" name="answer" class="button is-ghost" />
            <img [src]="EmojiChoque" />
          </label>
          <label class="radio">
            <input type="radio" name="answer" class="button is-ghost" />
            <img [src]="EmojiTriste" />
            <p hidden>Triste</p>
          </label>
          <label class="radio">
            <input type="radio" name="answer" class="button is-ghost" />
            <img [src]="EmojiAmuse" />
          </label>
        </div>
      </div>
      <div style="margin-bottom: 10px">
        <h4 style="color: white; margin-bottom: 10px">Un commentaire ou une critique?</h4>
        <input
          max="10"
          min="0"
          class="input is-small is-hovered is-primary"
          type="number"
          placeholder="Tapez ici"
        />
      </div>
      <div style="margin-top: 10px">
        <h4 style="color: white; margin-bottom: 10px">Je recommande à ?</h4>
        <div style="display: flex; flex-direction: column">
          <div
            style="
              border: 3px solid;
              background-color: white;
              border-radius: 10px;
            "
          >
            <label class="checkbox">
              Tout le Monde
              <input type="checkbox" />
            </label>
          </div>
          <div
            style="
              border: 3px solid;
              background-color: white;
              border-radius: 10px;
            "
          >
            <label class="checkbox">
              Fan du directeur
              <input type="checkbox" />
            </label>
          </div>
          <div
            style="
              border: 3px solid;
              background-color: white;
              border-radius: 10px;
            "
          >
            <label class="checkbox">
              Fan du genre
              <input type="checkbox" />
            </label>
          </div>
          <div></div>
        </div>
      </div>
    </div>


    <div class="column is-6">
      <div>
        <h4 style="color: white; margin-bottom: 30px">Comment c'était ?</h4>
        <div class="columns" style="display: flex; margin-left: 10px">
          <div
            class="column is-9"
            style="
              border: 3px solid #81e6da;
              border-radius: 5px;
              align-items: center;
              justify-content: center;
              display: flex;
              margin-bottom: 30px;
            "
          >
            <bar-rating style="color: white;"
              [(rate)]="rate"
              [max]="5"
              [theme]="'stars'"
               [showText]="true"

               [titles]="['', 'Mauvais', 'Bof', 'Ok', 'Bien', 'Génial']"
             
            ></bar-rating>
          </div>
          <div class="column is-1" style="color: white; text-align: center">
            Note Globale
          </div>
        </div>
        <div class="columns" style="display: flex; margin-left: 10px">
          <div
            class="column is-9"
            style="
              border: 3px solid #81e6da;
              border-radius: 5px;
              align-items: center;
              justify-content: center;
              display: flex;
              margin-bottom: 30px;
            "
          >
            <bar-rating style="color: white;"
              [(rate)]="rate2"
              [max]="5"
              [theme]="'stars'"
              [showText]="true"
              [titles]="['', 'Mauvais', 'Bof', 'Ok', 'Bien', 'Génial']"
            ></bar-rating>
          </div>
          <div class="column is-1" style="color: white; text-align: center">
            Cinematographie
          </div>
        </div>
        <div class="columns" style="display: flex; margin-left: 10px">
          <div
            class="column is-9"
            style="
              border: 3px solid #81e6da;
              border-radius: 5px;
              align-items: center;
              justify-content: center;
              display: flex;
              margin-bottom: 30px;
            "
          >
            <bar-rating style="color: white;"
              [(rate)]="rate3"
              [max]="5"
              [theme]="'stars'"
              [showText]="true"
              [titles]="['', 'Mauvais', 'Bof', 'Ok', 'Bien', 'Génial']"
            ></bar-rating>
          </div>
          <div class="column is-1" style="color: white; text-align: center">
            Histoire
          </div>
        </div>
        <div
          class="columns"
          style="display: flex; margin-left: 10px; margin-bottom: 10px"
        >
          <div
            class="column is-9"
            style="
              border: 3px solid #81e6da;
              border-radius: 5px;
              align-items: center;
              justify-content: center;
              display: flex;
              margin-bottom: 30px;
            "
          >
            <bar-rating style="color: white;"
              [(rate)]="rate4"
              [max]="5"
              [theme]="'stars'"
              [showText]="true"
              [titles]="['', 'Mauvais', 'Bof', 'Ok', 'Bien', 'Génial']"
            ></bar-rating>
          </div>
          <div class="column is-1" style="color: white; text-align: center">
            Autre
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center">
    <button class="button" style="background-color: #81e6da; color: #000">
      Enregistrer
    </button>
  </div>
</div>
