[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}


/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid #81E6DA;
  ;
}
[type=radio]:checked+div {
  outline: 3px solid #81E6DA;
  ;
}
div+[type=radio]:checked{
  outline: 3px solid #81E6DA;
}
