.footer{
    padding: 0%;
}
#rs{
    background-color: #81E6DA;
    color: black;
    padding-top: 1em;
    padding-bottom: 2em;
}
.level-left{
    margin-left: 25px;
}
.level-item{
    margin-right: 5px;}
#menu{
    background-color: black;
    margin-top: -3.5%;
}
#row{
    background-color: grey;
}
h4{
    color: black;
    background-color: #81E6DA;
    border-radius: 5px;
}
a{
    text-align: center;
    color: white;
}

p{
    color: white;
}

.logo{
    margin-top: 50px;
}
