<footer class="has-text-centered has-text-weight-light">
    <div class="footer">
        <section id="rs" class="level">
            <div class="level-left">
                <h4>Nos réseaux sociaux : </h4>
            </div>
            <div class="level-right">
                <a href="" id="fb" class="level-item">
                    <img src="{{iconeFB}}" width="35px" class="level-item">Facebook
                </a>
                <a href="" class="level-item">
                    <img src="{{iconeTW}}" width="35px" class="level-item">Twitter
                </a>
                <a href="" class="level-item">
                    <img src="{{iconeIG}}" width="35px" class="level-item">Instagram
                </a>
                <a href="" class="level-item">
                    <img src="{{iconeGH}}" width="35px" class="level-item">Github
                </a>
            </div>
        </section>
        <section id="menu">
            <div class="tile is-ancestor">
                <div class="tile is-vertical-4">
                    <div class="tile">
                        <div class="tile is-parent">
                            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                                <h4 id="pds" class="nav-link link-dark text-uppercase fw-bold mb-4">Plan du site</h4>
                                <ul class="list-unstyled mb-0" style="text-decoration: underline;">
                                    <li>
                                        <a href="">Accueil</a>
                                    </li>
                                    <li>
                                        <a href="">Films & Séries</a>
                                    </li>
                                    <li>
                                        <a href="">Jeux Videos</a>
                                    </li>
                                    <li>
                                        <a href="">Musique</a>
                                    </li>
                                    <li>
                                        <a href="">Films du moment</a>
                                    </li>
                                    <li>
                                        <a href="">Séries du moment</a>
                                    </li>
                                    <li>
                                        <a href="">Ajouter une oeuvre</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4 text-center">
                                <h4 class="text-uppercase fw-bold mb-4" id="apdn">À propos de nous</h4>
                                <p>Groupe de 8 étudiants pour un projet</p>
                            </div>
                        </div>
                        <div class="tile is-parent is-vertical">
                            <article class="tile is-child">
                                <div class="col-md-4 col-lg-3 col-xl-12 mx-auto mb-md-0 mb-4 text-center">
                                    <h4 class="text-uppercase fw-bold mb-4" id="ml"><a href="" style="color:black; text-decoration: none;">Mentions légales</a></h4>
                                </div>
                            </article>
                            <article>
                                <div>
                                    <p class="logo">
                                        <img src="{{logo}}"> © 2022 - RatingSoftware
                                    </p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>