<footer class="has-text-centered has-text-weight-light">
  <div class="footer">
    <section class="hero is-small is-primary">
      <div class="hero-body">
        <div class="title">Nos réseaux sociaux :</div>
        <div class="fb">
          <a href="" class="level-item">
            <img src="{{ iconeFB }}" width="35px" class="level-item" />Facebook
          </a>
        </div>
        <div class="level-item">
          <a href="" class="level-item">
            <img src="{{ iconeTW }}" width="35px" class="level-item" />Twitter
          </a>
        </div>
        <div class="level-item">
          <a href="" class="level-item">
            <img src="{{ iconeIG }}" width="35px" class="level-item" />Instagram
          </a>
        </div>
        <div class="level-item">
          <a href="" class="level-item">
            <img src="{{ iconeGH }}" width="35px" class="level-item" />Github
          </a>
        </div>
      </div>
    </section>
    <!-- <section id="rs" class="level">
      <div class="level-item">
        <h4 class="is-size-4 has-text-weight-bold">Nos réseaux sociaux :</h4>
      </div>
      <a href="" id="fb" class="level-item">
        <img src="{{ iconeFB }}" width="35px" class="level-item" />Facebook
      </a>
      <a href="" class="level-item">
        <img src="{{ iconeTW }}" width="35px" class="level-item" />Twitter
      </a>
      <a href="" class="level-item">
        <img src="{{ iconeIG }}" width="35px" class="level-item" />Instagram
      </a>
      <a href="" class="level-item">
        <img src="{{ iconeGH }}" width="35px" class="level-item" />Github
      </a>
    </section> -->
    <section class="menu">
      <div class="sous-menu">
        <div class="text-menu">
          <h2>Plan du site</h2>
        </div>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="">Accueil</a>
          </li>
          <li>
            <a href="">Films & Séries</a>
          </li>
          <li>
            <a href="">Jeux Videos</a>
          </li>
          <li>
            <a href="">Musique</a>
          </li>
          <li>
            <a href="">Films du moment</a>
          </li>
          <li>
            <a href="">Séries du moment</a>
          </li>
          <li>
            <a href="">Ajouter une oeuvre</a>
          </li>
        </ul>
      </div>
      <div class="sous-menu">
        <div class="text-menu">
          <h2>À propos de nous</h2>
        </div>
        <p>Groupe de 8 étudiants pour un projet</p>
      </div>
      <div class="sous-menu">
        <div class="text-menu">
          <h2>Mentions légales</h2>
        </div>
        <div class="columns is-multiline is-mobile is-vcentered" id="col">
          <div id="logo" class="is-flex">
            <img src="{{ logo }}" />
          </div>
          <div id="pseudo" class="column">
            <span>© 2022 - RatingSoftware</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
<!-- </section>
    <section id="menu">
      <div class="tile is-ancestor">
        <div class="tile is-vertical-4">
          <div class="tile" id="row">
            <div class="tile is-parent">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                <h4
                  id="pds"
                  class="is-size-4 is-uppercase has-text-weight-bold"
                >
                  Plan du site
                </h4>
                <ul
                  class="list-unstyled mb-0"
                  style="text-decoration: underline"
                >
                  <li>
                    <a href="">Accueil</a>
                  </li>
                  <li>
                    <a href="">Films & Séries</a>
                  </li>
                  <li>
                    <a href="">Jeux Videos</a>
                  </li>
                  <li>
                    <a href="">Musique</a>
                  </li>
                  <li>
                    <a href="">Films du moment</a>
                  </li>
                  <li>
                    <a href="">Séries du moment</a>
                  </li>
                  <li>
                    <a href="">Ajouter une oeuvre</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tile is-parent">
              <div class="mx-auto">
                <h4
                  class="is-size-4 is-uppercase has-text-weight-bold"
                  id="apdn"
                >
                  À propos de nous
                </h4>
                <p>Groupe de 8 étudiants pour un projet</p>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <article class="tile is-child">
                <div
                  class="col-md-4 col-lg-3 col-xl-12 mx-auto mb-md-0 mb-4 text-center"
                >
                  <h4
                    class="is-size-4 is-uppercase has-text-weight-bold"
                    id="ml"
                  >
                    Mentions légales
                  </h4>
                </div>
              </article>
              <article>
                <div
                  class="columns is-multiline is-mobile is-vcentered"
                  id="col"
                >
                  <div id="logo" class="is-flex">
                    <img src="{{ logo }}" />
                  </div>
                  <div id="pseudo" class="column">
                    <span>© 2022 - RatingSoftware</span>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section> -->

<!-- </footer>                                    <span>© 2022 - RatingSoftware</span> -->
