
<div class="registerComponent">
<ng-container *ngIf="IsMessage==true">
    <article class="message is-warning">
        <div class="message-header">
            <p>Warning</p>
            <button class="delete" aria-label="delete" (click)="onClick()"></button>
        </div>
        <div class="message-body">
        Un e-mail vous a été envoyé sur votre boite mail {{ForgotPasswordForm.value["email"]}} afin de pouvoir effectuer votre
        réinitialisation de mot de passe.
        </div>
    </article>
</ng-container>
    <div class="form-container">
        <div class="header-form">
            <p>Mot de passe oublié ?</p>
        </div>
        <form class="form" [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">
            <input 
            type="email" 
            class="email" 
            name="email" 
            placeholder="Email" 
            formControlName="email" />
            <div class="submit">
                <button [disabled]="!ForgotPasswordForm.valid" type="submit">
                 Réinitialiser
                </button>
            </div>
        </form>
    </div>
</div>
