<footer class="text-center text-lg-start bg-light text-muted">
    <div id="footer" class="text-center text-lg-start bg-light text-muted">
        <section id="rs" class="d-flex justify-content-center justify-content p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <h4>Nos réseaux sociaux : </h4>
            </div>
            <div>
                <a href="" id="fb" class="me-4 text-reset">
                    <img src="{{iconeFB}}" width="35px">Facebook
                </a>
                <a href="" class="me-4 text-reset">
                    <img src="{{iconeTW}}" width="35px">Twitter
                </a>
                <a href="" class="me-4 text-reset">
                    <img src="{{iconeIG}}" width="35px">Instagram
                </a>
                <a href="" class="me-4 text-reset">
                    <img src="{{iconeGH}}" width="35px">Github
                </a>
            </div>
        </section>
        <section id="menu">
            <div class="container text-center text-md-start mt-5" id="container">
                <div class="row lg-3" id="row">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-center">
                        <h4 id="pds" class="nav-link link-dark text-uppercase fw-bold mb-4">Plan du site</h4>
                        <ul class="list-unstyled mb-0" style="list-style-type: none;">
                            <li>
                                <a href="">Accueil</a>
                            </li>
                            <li>
                                <a href="">Films & Séries</a>
                            </li>
                            <li>
                                <a href="">Jeux Videos</a>
                            </li>
                            <li>
                                <a href="">Musique</a>
                            </li>
                            <li>
                                <a href="">Films du moment</a>
                            </li>
                            <li>
                                <a href="">Séries du moment</a>
                            </li>
                            <li>
                                <a href="">Ajouter une oeuvre</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4 text-center">
                        <h4 class="text-uppercase fw-bold mb-4" id="apdn">À propos de nous</h4>
                        <p>Groupe de 8 étudiants pour un projet</p>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <div class="col-md-4 col-lg-3 col-xl-12 mx-auto mb-md-0 mb-4 text-center">
                            <h4 class="text-uppercase fw-bold mb-4" id="ml"><a href="" style="color:black; text-decoration: none;">Mentions légales</a></h4>
                        </div>
                        <div>
                            <p class="logo">
                                <img src="{{logo}}"> © 2022 - RatingSoftware
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>
<!-- <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
</div> -->