#rs{
    background-color: #81E6DA;
    color: black;
}
#menu{
    background-color: black;
    margin-top: -3.5%;

    #container{
        #row{
            background-color: grey;
        }
        h4{
            color: black;
            background-color: #81E6DA;
            border-radius: 5px;
        }
        
        a{
            text-align: center;
            color: white;
        }

        p{
            color: white;
        }

        .logo{
            margin-top: 50px;
        }
    }
}
