.container{
    background-color: #363538;
    border-radius: 15px;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 50px;
    margin-bottom: 3em;
}
.level-item{
    background-color: #81E6DA;
    text-align: center;
    color: black;
    height: 2em;
}
#login{
    border-top-left-radius: 15px;
}
#sign-up{
    border-top-right-radius: 15px;
}
#connexion{
    align-items: center;
    font-size: 2em;
    color: white;
    gap:3em;
}
#help{
    gap: 2.5em;
}
#help a{
    color: white;
    text-decoration: underline;
    margin-bottom: 8px;
}