<div>
  <ng-container *ngIf="IsMessage == true">
    <article class="message is-success">
      <div class="message-header">
        <p>Serie Ajouté</p>
        <button class="delete" aria-label="delete" (click)="OnClick()"></button>
      </div>
      <div class="message-body">
        Le Serie {{ Serie.name }} a été ajouté a votre liste de favoris
      </div>
    </article>
  </ng-container>
  <ng-container *ngIf="isError == true">
    <article class="message is-danger">
      <div class="message-header">
        <p>Serie Supprimer</p>
        <button
          class="delete"
          aria-label="delete"
          (click)="OnClickError()"
        ></button>
      </div>
      <div class="message-body">
        La Serie {{ Serie.name }} est supprimer de votre liste de favoris
      </div>
    </article>
  </ng-container>
  <div class="card columns">
    <div class="card-image">
      <figure class="image">
        <img
          style="width: 90%"
          alt="Placeholder image"
          src="https://image.tmdb.org/t/p/w300//{{ Serie.poster_path }}"
        />
      </figure>
    </div>
    <div class="textBox column">
      <div class="is-flex-direction-row">
        <div class="headerBox columns">
          <div
            class="column is-align-items-flex-start is-justify-content-flex-start"
          >
            <h2 class="title is-2" style="color: white">{{ Serie.name }}</h2>
          </div>
          <div
            class="column is-align-items-flex-end is-justify-content-flex-end"
            style="display: flex"
          >
            <button class="addFolder button">+ Ajouter à un dossier</button>
            <button
              class="button is-ghost"
              (disabled)="(isFavourite == true)"
              (click)="AddFavoris()"
            >
              <ng-container *ngIf="isFavourite == true"
                ><img [src]="ImageFavori"
              /></ng-container>
              <ng-container *ngIf="isFavourite == false"
                ><img [src]="ImageNonFavori"
              /></ng-container>
            </button>
          </div>
        </div>
      </div>
      <div class="genres is-flex-direction-row">
        <ng-container *ngFor="let genre of Serie.genres; let i = index">
          <span class="media-type">{{ genre.name }}</span>
        </ng-container>
      </div>
      <div class="is-flex-direction-row" style="margin-top: 20px">
        <h4 class="title is-4" style="color: white">Synopsis</h4>
      </div>
      <div
        class="movieDescription is-flex-direction-row"
        style="margin-top: 20px"
      >
        <p style="color: white">{{ Serie.overview }}</p>
      </div>
      <div class="is-flex-direction-row" style="margin-top: 20px">
        <div class="columns">
          <div class="column">
            <h4 class="title is-4" style="color: white">Note</h4>
            <div class="rates column">
              <div class="boxRate">
                <button
                  class="button is-outlined"
                  style="
                    border: 2px solid #81e6da;
                    border-radius: 12px;
                    background-color: #363538;
                    color: white;
                  "
                >
                  <div class="heart-icon">
                    <!-- icon favorite à modifier pour la suite -->
                    <mat-icon class="favorite-icon" aria-hidden="false">
                      favorite</mat-icon
                    >
                  </div>
                  <!-- <img [src]="ImageFavori" style="width: 50%" />-->{{
                    Serie.vote_count
                  }}
                </button>
              </div>
              <div class="boxRate">
                <button
                  class="button"
                  style="
                    border: 2px solid #81e6da;
                    border-radius: 12px;
                    background-color: #363538;
                    color: white;
                  "
                >
                  {{ Serie.vote_average }}/10
                </button>
              </div>
            </div>
          </div>

          <div class="column">
            <h4 class="title is-4" style="color: white">Ma Note</h4>
            <div class="rates column">
              <div class="boxRate">
                <button
                  class="button"
                  style="
                    border: 2px solid #81e6da;
                    border-radius: 12px;
                    background-color: #363538;
                    color: white;
                  "
                >
                  8.6/10
                </button>
              </div>
              <div class="boxRate">
                <button class="editRate button">Modifier / Détailler</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div></div>
    </div>
  </div>
  <app-casting [isSerie]="isSerie"> </app-casting>
  <app-comments></app-comments>
</div>
