<div>
  <ng-container *ngIf="IsMessage == true">
    <article class="message is-success">
      <div class="message-header">
        <p>Jeu-video Ajouté</p>
        <button class="delete" aria-label="delete" (click)="OnClick()"></button>
      </div>
      <div class="message-body">
        Le Jeux-video {{ Videogame.name }} a été ajouté à votre liste de favoris
      </div>
    </article>
  </ng-container>
  <ng-container *ngIf="isError == true">
    <article class="message is-danger">
      <div class="message-header">
        <p>Jeux-videos supprimer</p>
        <button
          class="delete"
          aria-label="delete"
          (click)="OnClickError()"
        ></button>
      </div>
      <div class="message-body">
        Le jeu-video {{ Videogame.name }} est supprimé de votre liste de favoris
      </div>
    </article>
  </ng-container>
  <div class="card columns">
    <div class="card-image">
      <figure class="image">
        <img alt="Placeholder image" src="{{ Videogame.background_image }}" />
      </figure>
    </div>

    <div class="textBox column">
      <div class="is-flex-direction-row">
        <div class="headerBox columns">
          <div
            class="column is-align-items-flex-start is-justify-content-flex-start"
          >
            <h2 class="title is-3" style="color: white">
              {{ Videogame.name }}
            </h2>
          </div>
          <div
            class="column is-align-items-flex-end is-justify-content-flex-end"
            style="display: flex"
          >
            <button class="addFolder button">+ Ajouter à un dossier</button>
            <button
              class="button is-ghost"
              (disabled)="(isFavourite == true)"
              (click)="AddFavoris()"
            >
              <ng-container *ngIf="isFavourite == true"
                ><img [src]="ImageFavori"
              /></ng-container>
              <ng-container *ngIf="isFavourite == false"
                ><img [src]="ImageNonFavori"
              /></ng-container>
            </button>
          </div>
        </div>
      </div>
      <div class="genres is-flex-direction-row">
        <ng-container *ngFor="let genre of Videogame.genres; let i = index">
          <span class="media-type">{{ genre.name }}</span>
        </ng-container>
      </div>
      <div class="is-flex-direction-row" style="margin-top: 20px">
        <h4 class="title is-4" style="color: white">Synopsis</h4>
      </div>
      <div
        class="movieDescription is-flex-direction-row"
        style="margin-top: 20px"
      >
        <p style="color: white" [innerHTML]="Videogame.description"></p>
      </div>
      <div class="is-flex-direction-row" style="margin-top: 20px">
        <div class="columns">
          <div class="column">
            <h4 class="title is-4" style="color: white">Note</h4>
            <div class="rates column">
              <button
                class="boxRate button"
                style="
                  border: 2px solid #81e6da;
                  border-radius: 12px;
                  background-color: #363538;
                  color: white;
                "
              >
                <div class="heart-icon">
                  <!-- icon favorite à modifier pour la suite -->
                  <mat-icon class="favorite-icon" aria-hidden="false">
                    favorite</mat-icon
                  >
                </div>
                <!-- <img [src]="ImageFavori" style="width: 50%" />-->{{
                  Videogame.ratings_count
                }}
              </button>
              <button
                class="boxRate button is-outlined"
                style="
                  border: 2px solid #81e6da;
                  border-radius: 12px;
                  background-color: #363538;
                  color: white;
                "
              >
                {{ Videogame.rating }}/5
              </button>
            </div>
          </div>

          <div class="column">
            <h4 class="title is-4" style="color: white">Ma Note</h4>
            <div class="rates column">
              <ng-container *ngIf="NoteGeneral !== '0'">
                <button
                  class="boxRate button"
                  style="
                    border: 2px solid #81e6da;
                    border-radius: 12px;
                    background-color: #363538;
                    color: white;
                  "
                >
                  {{ NoteGeneral + " /5" }}
                </button>
              </ng-container>
              <button
                class="boxRate editRate button"
                (click)="this.hideNoteFilm = !this.hideNoteFilm"
              >
                Modifier / Detailler
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-ratings [hidden]="hideNoteFilm"></app-ratings>
  <app-comments></app-comments>
</div>
