<body>
    <br>
    <div class="div-1">
        <font size="6pt">
            <h1><b>Films du moment</b></h1>
        </font>
    </div>

    <section class="section">

        <div class="container">
            <ng-container *ngFor="let item of FilmPopular let i=index">
                <a routerLink="/Movie/{{item.id}}">
                    <li *ngIf="i<5" class="dropdown-item">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image-card">
                                    <a href="https://imgbb.com/"><img
                                            src="https://image.tmdb.org/t/p/w300//{{item.poster_path}}"
                                            alt="Rectangle-23" border="0"></a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="title">
                                    <p><b>{{item.title}}</b></p>

                                </div>

                            </div>

                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Plus de détails</a>
                            </footer>
                        </div>

                        {{item.id}}

                    </li>
                </a>
            </ng-container>
        </div>

    </section>

    <div class="div-1">
        <font size="6pt">
            <h1><b>Séries du moment</b></h1>
        </font>
    </div>

    <section class="section">
        <div class="container">
            <!-- 	Card 1	 -->
            <ng-container *ngFor="let item of TVShowPopular let i=index">
                <a routerLink="/Serie/{{item.id}}">
                    <li *ngIf="i<5" class="dropdown-item">

                        <div class="card">
                            <div class="card-image">
                                <figure class="image-card">
                                    <a><img src="https://image.tmdb.org/t/p/w300//{{item.poster_path}}"
                                            alt="Rectangle-23" border="0"></a>
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="title">
                                    <p><b>{{item.name}}</b></p>

                                </div>
                                <div class="description">
                                    <p>2022 - Thriller</p>
                                </div>
                            </div>

                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">Plus de détails</a>

                            </footer>
                        </div>
                    </li>
                </a>
            </ng-container>




        </div>

    </section>
</body>




<p>




</p>