<app-search-bar></app-search-bar>

<body>
  <section class="hero is-small is-primary">
    <div class="hero-body">
      <p class="title">Films du moment</p>
    </div>
  </section>
  <!-- favoris film -->
  <!-- <app-card></app-card> -->
  <!-- Popular Films card -->
  <div class="container">
    <ng-container *ngFor="let item of FilmPopular; let i = index">
      <li *ngIf="i < 4" class="dropdown-item">
        <div class="card">
          <div class="card-image">
            <img
              src="https://image.tmdb.org/t/p/w300//{{ item.poster_path }}"
              alt="Placeholder image"
            />
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ item.title }}</p>
                <p class="subtitle is-6">{{item.release_date}}</p>
              </div>
            </div>
            <div>
              <button class="detail" routerLink="/Movie/{{ item.id }}">
                <div class="title-button is-4">Plus de détails</div>
                <div class="iconArrow">
                  <mat-icon
                    [inline]="true"
                    aria-hidden="false"
                    aria-label="Example arrow icon"
                    >navigate_next</mat-icon
                  >
                </div>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ng-container>
  </div>

  <section class="hero is-small is-primary">
    <div class="hero-body">
      <p class="title">Séries du moment</p>
    </div>
  </section>
  <!-- serie du moment -->
  <div class="container">
    <ng-container *ngFor="let item of TVShowPopular; let i = index">
      <li *ngIf="i < 4" class="dropdown-item">
        <div class="card">
          <div class="card-image">
            <img
              src="https://image.tmdb.org/t/p/w300//{{ item.poster_path }}"
              alt="Placeholder image"
            />
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ item.name }}</p>
                <p class="subtitle is-6">Valeur à mettre ici</p>
              </div>
            </div>
            <div>
              <button class="detail" routerLink="/Serie/{{ item.id }}">
                <div class="title-button is-4">Plus de détails</div>
                <div class="iconArrow">
                  <mat-icon
                    [inline]="true"
                    aria-hidden="false"
                    aria-label="Example arrow icon"
                    >navigate_next</mat-icon
                  >
                </div>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ng-container>
  </div>

  <section class="hero is-small is-primary">
    <div class="hero-body">
      <p class="title">Jeux Videos du moment</p>
    </div>
  </section>
  <!-- jeux populaire -->
  <div class="container">
    <ng-container *ngFor="let item of VideoGamesPopular; let i = index">
      <li *ngIf="i < 4" class="dropdown-item">
        <div class="card">
          <div class="card-image">
            <img src="{{ item.background_image }}" alt="Placeholder image" />
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-4">{{ item.name }}</p>
                <p class="subtitle is-6">Valeur à mettre ici</p>
              </div>
            </div>
            <div>
              <button class="detail" routerLink="/Videogame/{{ item.id }}">
                <div class="title-button is-4">Plus de détails</div>
                <div class="iconArrow">
                  <mat-icon
                    [inline]="true"
                    aria-hidden="false"
                    aria-label="Example arrow icon"
                    >navigate_next</mat-icon
                  >
                </div>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ng-container>
  </div>
</body>

<p></p>
