<div>
<div class="card columns "style="margin:30px;background-color: #363538;margin-left:150px;margin-right:150px;" >
    
    <div class="card-image ">
        <figure class="image ">
            <img [src]="ImageFilm" alt="Placeholder image" style="width:100%;">
        </figure>
    </div>
    <div class="column is-8"    >
        <div class="is-flex-direction-row" style="margin-left: 30px;">
            <div class="columns">
                    <div class="column  is-align-items-flex-start is-justify-content-flex-start">
                        <h2 class="title is-2" style="color: white;">Joker</h2>
                    </div>
                    <div class="column  is-align-items-flex-end is-justify-content-flex-end" style="display:flex;">
                        <button class="button" style="background-color: #81E6DA;">+ Ajouter à un dossier</button>
                        <button class="button is-ghost"><img [src]="ImageFavori"></button>
                    </div>       
            </div>
            </div>
            <div class="is-flex-direction-row" style="margin-left: 30px;">
            <span class="tag is-info" style="  margin-right: 5px;">Genre1</span>
            <span class="tag is-success" style="  margin-right: 5px;">Genre2</span>
            <span class="tag is-danger">Genre3</span>
            </div>
            <div class="is-flex-direction-row" style="margin-left: 30px; margin-top: 20px;">
                <h4 class="title is-4" style="color: white;">Synopsis</h4>
            </div>
            <div class="is-flex-direction-row" style="margin-left: 30px; margin-top: 20px;">
                <p style="color: white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed nihil placeat ex optio voluptatum reprehenderit autem perferendis ipsum, eaque accusamus rerum veritatis tenetur doloribus aliquam obcaecati a itaque nulla magni</p>
            </div>
            <div class="is-flex-direction-row" style="margin-left: 30px; margin-top: 20px;">
                <div class="columns">
                    <div class="column" style="border-right: 2px solid #81E6DA;">
                        <h4 class="title is-4" style="color: white;">Note</h4></div>
                
                <div class="column">
                    <h4 class="title is-4" style="color: white;">Ma Note</h4>
                </div>  
            </div>
            </div>
            <div class="is-flex-direction-row" style="margin-left: 30px;">
                <div class="columns">
                    <div class="column" style="border-right: 2px solid #81E6DA;">
                        <button class="button is-outlined"
                            style="border: 3px solid #81E6DA;border-radius: 5px; background-color:#363538; color:white"><img [src]="ImageFavori"
                                style="width: 50%;" />120</button>
                        <button class="button is-outlined"
                            style="border: 3px solid #81E6DA;border-radius: 5px; background-color:#363538; color:white; margin-left: 10px;">8.6/10</button>
                    </div>
                    <div class="column">
                            <button class="button is-outlined"
                                style="border: 3px solid #81E6DA;border-radius: 5px; background-color:#363538; color:white; margin-left: 10px;">8.6/10</button>
                            <button class="button is-outlined"
                                style="border-radius: 5px; background-color:#81E6DA; color:black; margin-left: 20px;">Modifier / Detailler</button>
                            </div>

                </div>
       
            </div>
       
        
        
        <div>
           
        
        </div>
    </div>
    
</div>
<app-casting></app-casting>
<app-commentaire></app-commentaire>
</div>
