.act {
  display: grid;
  justify-content: center;
  margin-top: 4%;
  /* margin: 7% auto; */
  grid-template-columns: repeat(auto-fill, minmax(150px, auto));
  /* grid-template-columns: auto auto auto auto; */
  grid-gap: 0.5em;
}
