<div
  style="
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
  "
>
  <div>
    <h3 class="title is-3" style="color: white">Commentaires</h3>
  </div>
  <div
    class="commentBox"
    style="
      background-color: rgba(196, 196, 196, 0.4);
      border-radius: 12px;
      margin-top: 20px;
    "
  >
    <p style="text-align: center; color: white; font-size: larger">
      Cette fonctionnalité n'est pas disponible pour le moment
    </p>
  </div>
</div>
