.movieGenre {
  margin-top: 10px;
}
.card {
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 12px;
  margin: 5% 10% 5% 10%;
  background-color: #363538;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  margin: 15px;
  border-radius: 15px;
  border-style: solid;
  border-color: #202022;
}
.genres {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.5em;
  margin-top: 20px;
  margin-right: 50%;
}
.media-type {
  display: flex;
  justify-content: center;
  text-align: center;
}
.headerBox {
  /* margin-top: 7px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.addFolder {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background-color: #81e6da;
  border: none;
  /* padding: 30px 10%; */
  /* font-size: 23px; */
  /* padding: 7px 15px; */
}
.addFolder:hover {
  background-color: #34d9c6;
}
.editRate {
  border-radius: 12px;
  background-color: #81e6da;
  /* margin-left: 20px; */
  border: none;
}
.heart-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.heart-icon .favorite-icon {
  color: red;
}
.myRate,
.rates {
  display: flex;
  justify-content: space-evenly;
  margin-right: auto;
}
.boxRate {
  margin-right: auto;
}
